*{
    color: var(--main-text-color)
}
@keyframes slideFromUnderneath {
    0% {
      transform: translateY(1000%);
    }
    100% {
      transform: translateY(0);
    }
  }
h1{
    text-align: center;
}
li{
    &:nth-child(1){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 350ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(2){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 400ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(3){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 450ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(4){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 500ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(5){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 550ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(6){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 600ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(7){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 650ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(8){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 700ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(9){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 750ms;
        animation-timing-function: ease-in;
    }
    &:nth-child(10){
        animation-name: slideFromUnderneath;
        animation-delay: 50ms;
        animation-duration: 800ms;
        animation-timing-function: ease-in;
    }
}
ol{
    counter-reset: item;
    display: inline-block;
    text-align: left;
    font-size: x-large;
}
section{
    
    text-align: center;
}