
:host{
    grid-column: 1 / span 3;
    grid-row: 3 / 4 ;
    
    footer {
        min-height: 100px;
        background-color: var(--main-color);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        p{
            margin: 0 auto;
            padding-top: 2rem;
            padding-bottom: 2rem;

            font-size: xx-large;

            color:white;
            /*
            From Can i Use?:
            Does not yet appear in any W3C specification. Was briefly included in a spec as the "text-outline" property, but this was removed.

            1 Firefox & Edge specifically only support the -webkit-text-stroke property (not using -moz- or -ms- prefix) */
            -webkit-text-stroke: 1px black;
            text-shadow: 3px 4px red;
        }

        

        #email::after{
            content: "skardyto@gmail.com";
        }
    }

}
