:host{
    *{
        color: var(--main-text-color);
    }

    h1{
        text-align: center;
    }

    video {
        display: block;
        margin: auto;
    }
    
    :first-child{
        margin-top: 0;
    }

    :last-child{
        margin-bottom: 0;
    }
}