:host{
    *{
        color: var(--main-text-color);
    }

    h1{
        text-align: center;
    }

    video {
        display: block;
        margin: auto;
    }
    
    :first-child{
        margin-top: 0;
    }

    :last-child{
        margin-bottom: 0;
    }

    a:link {
        text-decoration: none;
        color:aquamarine;
      }
      
      a:visited {
        text-decoration: none;
        color:aqua;
      }
      
      a:hover {
        text-decoration: underline;
        color:aqua;
      }
      
      a:active {
        text-decoration: underline;
        color:cadetblue;
      }

    aside p:first-of-type{
        text-indent: 2rem;
    }
}