html{
    height: 100%;
    
    /*Used colors */
    --main-color: #510000;
    --secondary-color: #005151; 
    --main-text-color: #d3d3d3;


    body{
        height: 100%; 
        min-width: 100%;
        margin: 0; 
        padding: 0;
    }
}
